<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{student/*{id}}" th:object="${studentForm}" method="get">
            <table>
                <tr>
                    <td>Student ID:</td>
                    <td><input type="text" th:field="*{id}" /></td>
                    <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id Error</td>
                </tr>
               
                <tr>
                    <td><button type="submit">Search</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>